/* Footer Styles */
.footer {
  background: linear-gradient(to right, #00a308,#1f9825,#28922d, #4a934e, #618c63);
  color: white;
  padding: 50px 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.footer-column {
  text-align: left;
}

.footer-logo {
  text-align: center;
}

.footer-title {
  font-size: 28px;
  font-weight: bold;
  color: #cfced3; /* Gold color for the title */
}

.catchy-text {
  font-size: 16px;
  color: #ecf0f1;
  margin-top: 10px;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #0d0175; /* Light orange for headings */
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1a1fbc; /* Light green hover effect */
}

.footer-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 24px;
  color: rgb(255, 255, 255);
  transition: color 0.1s ease;
}

.social-icon:hover {
  color: #000000; /* Blue hover effect */
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #bdc3c7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
